<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.obwiki.mapper.PostMapper">
    <insert id="insert" parameterType="com.example.obwiki.entity.Post">
        INSERT INTO post(user_id, title, content, create_time)
        VALUES (#{userId}, #{title}, #{content}, NOW())
    </insert>

    <select id="selectAll" resultType="com.example.obwiki.entity.Post">
        SELECT p.*, u.name AS username
        FROM post p
        LEFT JOIN user u ON p.user_id = u.id
        ORDER BY p.create_time DESC
    </select>

    <select id="selectById" parameterType="long" resultType="com.example.obwiki.entity.Post">
        SELECT p.*, u.name AS username
        FROM post p
        LEFT JOIN user u ON p.user_id = u.id
        WHERE p.id = #{id}
    </select>

    <update id="increaseVoteCount">
        UPDATE post SET vote_count = vote_count + 1 WHERE id = #{id}
    </update>

    <update id="increaseViewCount">
        UPDATE post SET view_count = view_count + 1 WHERE id = #{id}
    </update>
</mapper> 